.list-btn{
    border: none;
    outline: none;
    border-radius: 5px;

    background-color: white;
    
    font-family: Noto Sans KR;
    font-weight: 500;
    font-size: 50px;
}

.name-input{
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    
    border-bottom-color: #BDDCD2;

    background-color: white;

    font-family: Noto Sans KR;
    font-weight: 500;
    font-size: 35px;
    text-align: center;

    caret-color: #BDDCD2;
}